
    <div class="bg-gray-800 py-10">
      <div
        class="container max-w-5xl mx-auto flex items-center justify-between"
      >
        <div class="flex items-center justify-between gap-8">
          <img
            src="assets/fahitas.avif"
            alt="Left Photo"
            class="w-64 h-64 rounded-full mx-20"
          />
          <div class="space-y-5">
            <div class="flex justify-between px-2.5">
              <h3 class="text-2xl font-bold font-Lobster text-white">Chili's Tunisie</h3>
              <svg
                fill="none"
                height="24"
                viewBox="0 0 24 24"
                width="24"
                xmlns="http://www.w3.org/2000/svg"
                class="bg-white text-white hover:caret-lime-800"
                routerLink="/dashboard"
              >
                <g fill="#2d264b">
                  <path
                    d="m6 12c0 1.1046-.89543 2-2 2s-2-.8954-2-2 .89543-2 2-2 2 .8954 2 2z"
                  />
                  <path
                    d="m14 12c0 1.1046-.8954 2-2 2s-2-.8954-2-2 .8954-2 2-2 2 .8954 2 2z"
                  />
                  <path
                    d="m22 12c0 1.1046-.8954 2-2 2s-2-.8954-2-2 .8954-2 2-2 2 .8954 2 2z"
                  />
                  <path
                    d="m6 4c0 1.10457-.89543 2-2 2s-2-.89543-2-2 .89543-2 2-2 2 .89543 2 2z"
                  />
                  <path
                    d="m14 4c0 1.10457-.8954 2-2 2s-2-.89543-2-2 .8954-2 2-2 2 .89543 2 2z"
                  />
                  <path
                    d="m22 4c0 1.10457-.8954 2-2 2s-2-.89543-2-2 .8954-2 2-2 2 .89543 2 2z"
                  />
                  <path
                    d="m6 20c0 1.1046-.89543 2-2 2s-2-.8954-2-2 .89543-2 2-2 2 .8954 2 2z"
                  />
                  <path
                    d="m14 20c0 1.1046-.8954 2-2 2s-2-.8954-2-2 .8954-2 2-2 2 .8954 2 2z"
                  />
                  <path
                    d="m22 20c0 1.1046-.8954 2-2 2s-2-.8954-2-2 .8954-2 2-2 2 .8954 2 2z"
                  />
                </g>
              </svg>

            </div>

            <p class="text-5xl font-Lobster text-green-800">
              Découvrez les meilleures recettes syriennes
            </p>

            <button
              class="text-lg py-2 px-1 bg-red-800 text-white font-bold rounded-lg"
            >
              Decouvrer notre menu
            </button>
          </div>
        </div>
      </div>
    </div>
    