<div
      class="flex border-b-2 max-w-sm mx-auto justify-center border-red-700 my-10"
    >
      <img src="assets/peperjpg.jpg" class="w-12 h-12" alt="" />

      <h1 class="text-3xl font-Lobster font-extrabold text-red-700">
        Notre Menu
      </h1>
      <img src="assets/peperjpg.jpg" class="w-12 h-12" alt="" />
    </div>
    <div class="flex flex-col mx-auto mt-14">
      <h1 class="text-3xl font-Lobster font-extrabold text-green-700">
        Nos fajitas
      </h1>

      <div class="grid grid-cols-1 gap-8 mt-8 lg:grid-cols-3">
        <div class="flex flex-col py-2 gap-3">
          <img src="assets/fahitas.avif" class="w-80 rounded-lg" alt="" />
          <p class="text-xl leading-7 font-Lobster font-extrabold text-red-700">
            trio fajitas
          </p>
          <p class="text-lg font-Lobster font-extrabold text-green-600">
            49.90 DT
          </p>
        </div>
        <div class="flex flex-col py-2 gap-3">
          <img src="assets/fahitas.avif" class="w-80 rounded-lg" alt="" />
          <p class="text-lg font-Lobster font-extrabold text-red-700">
            trio fajitas
          </p>
          <p class="text-lg font-Lobster font-extrabold text-green-600">
            49.90 DT
          </p>
        </div>
        <div class="flex flex-col py-2 gap-3">
          <img src="assets/fahitas.avif" class="w-80 rounded-lg" alt="" />
          <p class="text-lg font-Lobster font-extrabold text-red-700">
            trio fajitas
          </p>
          <p class="text-lg font-Lobster font-extrabold text-green-600">
            49.90 DT
          </p>
        </div>
        <div class="flex flex-col py-2 gap-3">
          <img src="assets/fahitas.avif" class="w-80 rounded-lg" alt="" />
          <p class="text-lg font-Lobster font-extrabold text-red-700">
            trio fajitas
          </p>
          <p class="text-lg font-Lobster font-extrabold text-green-600">
            49.90 DT
          </p>
        </div>
        <div class="flex flex-col py-2 gap-3">
          <img src="assets/fahitas.avif" class="w-80 rounded-lg" alt="" />
          <p class="text-lg font-Lobster font-extrabold text-red-700">
            trio fajitas
          </p>
          <p class="text-lg font-Lobster font-extrabold text-green-600">
            49.90 DT
          </p>
        </div>
        <div class="flex flex-col py-2 gap-3">
          <img src="assets/fahitas.avif" class="w-80 rounded-lg" alt="" />
          <p class="text-lg font-Lobster font-extrabold text-red-700">
            trio fajitas
          </p>
          <p class="text-lg font-Lobster font-extrabold text-green-600">
            49.90 DT
          </p>
        </div>
      </div>
      <p class="underline font-medium text-center text-red-500">Voir plus</p>
    </div>

    <div class="flex flex-col mx-auto mt-14">
      <h1 class="text-3xl font-Lobster font-extrabold text-green-700">
        Nos fajitas
      </h1>

      <div class="grid grid-cols-1 gap-8 mt-8 lg:grid-cols-3">
        <div class="flex flex-col py-2 gap-3">
          <img src="assets/fahitas.avif" class="w-80 rounded-lg" alt="" />
          <p class="text-xl leading-7 font-Lobster font-extrabold text-red-700">
            trio fajitas
          </p>
          <p class="text-lg font-Lobster font-extrabold text-green-600">
            49.90 DT
          </p>
        </div>
        <div class="flex flex-col py-2 gap-3">
          <img src="assets/fahitas.avif" class="w-80 rounded-lg" alt="" />
          <p class="text-lg font-Lobster font-extrabold text-red-700">
            trio fajitas
          </p>
          <p class="text-lg font-Lobster font-extrabold text-green-600">
            49.90 DT
          </p>
        </div>
        <div class="flex flex-col py-2 gap-3">
          <img src="assets/fahitas.avif" class="w-80 rounded-lg" alt="" />
          <p class="text-lg font-Lobster font-extrabold text-red-700">
            trio fajitas
          </p>
          <p class="text-lg font-Lobster font-extrabold text-green-600">
            49.90 DT
          </p>
        </div>
        <div class="flex flex-col py-2 gap-3">
          <img src="assets/fahitas.avif" class="w-80 rounded-lg" alt="" />
          <p class="text-lg font-Lobster font-extrabold text-red-700">
            trio fajitas
          </p>
          <p class="text-lg font-Lobster font-extrabold text-green-600">
            49.90 DT
          </p>
        </div>
        <div class="flex flex-col py-2 gap-3">
          <img src="assets/fahitas.avif" class="w-80 rounded-lg" alt="" />
          <p class="text-lg font-Lobster font-extrabold text-red-700">
            trio fajitas
          </p>
          <p class="text-lg font-Lobster font-extrabold text-green-600">
            49.90 DT
          </p>
        </div>
        <div class="flex flex-col py-2 gap-3">
          <img src="assets/fahitas.avif" class="w-80 rounded-lg" alt="" />
          <p class="text-lg font-Lobster font-extrabold text-red-700">
            trio fajitas
          </p>
          <p class="text-lg font-Lobster font-extrabold text-green-600">
            49.90 DT
          </p>
        </div>
      </div>
      <p class="underline font-medium text-center text-red-500">Voir plus</p>
    </div>
    